<div class="row">
  <div class="col-xs-4 col-sm-2">
    <label for="select_paper_menu" id="select_paper_label">Paper: </label>
    <div class="dropdown">
      <button class="btn btn-default dropdown-toggle" type="button" id="select_paper_btn"
        data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        <%= @papers.first.name %>
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" id="select_paper_menu" aria-labelledby="select_paper_label">
        <% @papers.each do |paper| %>
        <li data-paper="<%= paper.id %>"><a href="#"><%= paper.name %></a></li>
        <% end %>
      </ul>
    </div>
  </div>
  <div class="col-xs-6 col-sm-3">
    <label for="select_tnsite_menu" id="select_tnsite_label">Website: </label>
    <div class="dropdown">
      <button class="btn btn-default dropdown-toggle" type="button" id="select_site_btn"
        data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        <span class="caret">
          ...
      </button>
      <ul class="dropdown-menu" id="select_tnsite_menu">
        <% @papers.each do |paper| %>
          <% paper.townnews_sites.each do |tnsite| %>
          <li data-paper="<%= paper.id %>"><a href="#"><%= tnsite.URL %></a></li>
          <% end %>
        <% end %>
      </ul>
    </div>
  </div>
</div>
